<div class="all">
    <div class='full-page'>
        <app-header></app-header>
        <div class='create-page'>
            <form #editEventForm="ngForm" (ngSubmit)='editEventHandler(editEventForm.value)'>
                <h1>Edit event</h1>

                <label class="labels" for="title">Title:</label>
                <input #titleInput="ngModel" ngModel [value]="event.title" class="inputs" type="text" name="title" minlength="4"/>
                <div *ngIf="titleInput.errors?.minlength && titleInput.touched" class="errors">Title should
                    be more than 4 chars!</div>

                <label class="labels" for="description">Description</label>
                <textarea #descriptionInput="ngModel" ngModel class="inputs" type="input" name="description"
                    minlength="10" [value]='event.description'></textarea>
                <div *ngIf="descriptionInput.errors?.minlength && descriptionInput.touched" class="errors">Description
                    should
                    be more than 10 chars!</div>

                <label class="labels" for="imageUrl">Image:</label>
                <input #imageUrlInput="ngModel" ngModel [value]='event.imageUrl' class="inputs" type="url" name="imageUrl" />

                <button [disabled]="editEventForm.invalid" class='create-button'>Edit event</button>
            </form>
        </div>
    </div>
</div>