.all {
    display: flex;
    justify-content: center;
}

.full-page {
    display: flex;
    width: 1500px;
    flex-direction: column;
    border: solid 1px green;
    margin-top: 5px;
    border-radius: 15px;
}

.donate-page {
    flex-direction: column;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(to right, #A1FFCE, #FAFFD1);
    height: 91.5vh;
    flex-wrap: wrap;
    font-family: 'Handlee', cursive;
    border-radius: 15px;
    align-items: center;
    justify-content: center; 
}

.donate-page .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.grate {
    font-size: 50px;
}

.inputs {
    border-width: 3px;
    border-color: green;
    border-radius: 20px;
    padding: 7px;
    font-size: 20px;
    margin-bottom: 1em;
}

.labels {
    font-size: 25px;
}

.donate-button {
    display: flex;
    border: 0px;
    background: #7ae898;
    font-size: 17px;
    padding: 0.5em;
    margin-top: 40px;
    border-radius: 10px;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    color: black;
}

.donate-button:hover {
    display: flex;
    border: 0px;
    background: #ffffff;
    font-size: 17px;
    padding: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: red;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.donate-page img{
    margin: 80px 0;
    max-width: 400px;
}

input{
    border-width: 3px;
    border-color: green;
    border-radius: 20px;
    padding: 7px;
    font-size: 20px;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.add-money{
    display: flex;
    font-size: 20px;
    padding: 0.5em;
    border-radius: 20px;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    color: black;
    background: #7ae898;
    border: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.add-money:hover{
    background: white;
    cursor: pointer;
}