@import url('https://use.fontawesome.com/releases/v5.7.2/css/all.css');
.all{
    display: flex;
    justify-content: center;
}

.full-page{
    display: flex;
    width: 1500px;
    flex-direction: column;
    border: solid 1px green;
    margin-top: 5px;
    border-radius: 15px;
}

.register-page {
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: linear-gradient(to right, #A1FFCE, #FAFFD1);
    min-height: 92.1vh;
    flex-wrap: wrap;
    font-family: 'Handlee', cursive;
    border-radius: 15px;
}

.register-page form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

h1{
    font-size: 50px;
    margin-bottom: 0.5em;
}

.inputs{
    border-width: 3px;
    border-color: green;
    border-radius: 20px;
    padding: 7px;
    font-size: 20px;
}

.labels{
    margin-top: 0.5em;
    font-size: 25px;
}

.register-button{
    display: flex;
    border: 0px;
    background: #7ae898;
    font-size: 17px;
    padding: 0.5em;
    margin: 1.5em 0;
    border-radius: 10px;
    font-family: 'Handlee', cursive;
    text-decoration: none;
    color: black;

}

.register-button:hover {
    display: flex;
    border: 0px;
    background: #ffffff;
    font-size: 17px;
    padding: 0.5em;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.errors{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: red;
    font-size: 19px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.upload-image{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
}

.successful{
    margin-top: 10px;
    font-size: 19px;
    color: green;
}

.password-input{
    margin-left: 30px;
}

.register-page form i:hover{
    cursor: pointer;
}

.register-page form i{
    margin-left: 10px;
}

.cloudinary-button{
    border: 1px solid rgb(11, 100, 11);
    background: transparent;
    font-family: 'Handlee', cursive;
    font-size: 17px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 5px;
}

.cloudinary-button:hover{
    background: #7ae898;;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

button.register-button[disabled] {
    background-color: #ddd;
 }